@import "../../../_assets/_variables.scss";

.header {
  color: $color-white;
  font-family: $font-mono;
  height: 100vh;
  //margin-top: 6rem;
  // padding: 48px;

  &__code {
    max-width: 24vw;

    @media only screen and (min-width: $md) {
      max-width: 16vw;
    }

    @media only screen and (min-width: $lg) {
      max-width: 80px;
    }
  }

  &__description {
    color: $color-3;
    font-size: 1rem;
    font-style: italic;

    @media only screen and (min-width: $md) {
      display: block;
      margin-bottom: 8rem;
    }
  }

  &__links {
    align-items: center;
    bottom: 6rem;
    color: $color-white;
    display: flex;
    font-size: 36px;
    gap: 24px;
    justify-content: left;
    position: absolute;

    @media only screen and (min-width: $md) {
      position: relative;
    }
  }

  &__title {
    font-size: 3.2rem;
    font-weight: lighter;
    line-height: 0.96;
    margin-bottom: 1rem;
    margin-top: 2rem;

    &--highlight {
      font-size: 3.6rem;
      font-weight: bold;
      padding-right: 100vw;

      @media only screen and (min-width: $lg) {
        font-size: 36px;
      }
    }

    @media only screen and (min-width: $md) {
      font-size: 34px;
      width: 20vw;
    }
  }
}
