@import "../../../_assets/_variables.scss";

.header {
  color: $color-white;
  font-family: $font-mono;
  height: 100vh;
  margin-top: 6rem;
  padding: 48px;

  &__code {
    max-width: 28vw;
  }

  &__description {
    color: $color-3;
    font-size: 1rem;
    font-style: italic;
  }

  &__links {
    align-items: center;
    color: $color-white;
    display: flex;
    font-size: 2.4rem;
    gap: 8vw;
    justify-content: left;
    position: absolute;
    bottom: 6rem;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: lighter;
    line-height: 0.96;
    margin-bottom: 1rem;
    margin-top: 2rem;

    &--highlight {
      font-size: 3.6rem;
      font-weight: bold;
    }
  }
}
