@import "../../../_assets/_variables.scss";

.about {
  align-items: end;
  display: flex;
  flex-direction: column;
  font-family: $font-mono;
  // font-family: "Courier New", Courier, monospace;
  margin: auto;
  padding-top: 20px;

  &__animation {
    color: $color-black;
    background-color: $color-light-gray;
    border-radius: 20px;
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 80px;
    padding: 48px 24px;
    position: relative;
    right: 0;
    text-align: right;
    width: 60vw;

    &::after {
      content: "";
      z-index: 2;
      border: 20px solid transparent;
      border-top-color: $color-light-gray;
      border-bottom: 0;
      bottom: 0;
      height: 0;
      left: 80%;
      margin-left: -20px;
      margin-bottom: -20px;
      position: absolute;
      width: 0;

      @media only screen and (min-width: $md) {
        border: 24px solid transparent;
        border-bottom: 0;
        border-top-color: $color-light-gray;
        margin-bottom: -24px;
        margin-left: -24px;
      }
    }

    // &--shadow {
    //   z-index: -1;
    //   margin-bottom: 80px;
    //   padding: 48px 24px;
    //   position: relative;
    //   right: 0;
    //   text-align: right;
    // }

    @media only screen and (min-width: $md) {
      border-radius: 80px;
      width: 400px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
  }
}
