// Colors
$color-black: rgb(45, 42, 46);
$color-dark-gray: rgba(45, 42, 46, 0.5);
$color-light-gray: rgb(253, 248, 242, 0.5);
$color-white: rgb(253, 248, 242);

$color-1: rgb(255, 97, 136);
$color-2: rgb(252, 154, 105);
$color-3: rgb(255, 216, 102);
$color-4: rgb(169, 220, 118);
$color-5: rgb(120, 220, 232);
$color-6: rgb(171, 157, 242);

$gradient: -webkit-linear-gradient(
  left,
  $color-1,
  $color-2,
  $color-3,
  $color-4,
  $color-5,
  $color-6
);

// Font styles
$font-mono: "Courier Prime", monospace;

// Media Queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
