@import '../../_assets/_variables.scss';

.page-under-construction {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: $font-mono;
    font-size: 3em;
    justify-content: center;
    height: 100vh;
    
    &__text,
    &__footer {
        display: block;
    }
    
    &__footer {
        font-size: 0.7rem;
        position: absolute;
        bottom: 3vh;
    }
    
    &__text {
        background: -webkit-linear-gradient(left, $color-1, $color-2, $color-3, $color-4, $color-5, $color-6);
        background: -o-linear-gradient(right, $color-1, $color-2, $color-3, $color-4, $color-5, $color-6);
        background: -moz-linear-gradient(right, $color-1, $color-2, $color-3, $color-4, $color-5, $color-6);
        background: linear-gradient(to right, $color-1, $color-2, $color-3, $color-4, $color-5, $color-6); 
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;

        &:hover {
            cursor: wait;
        }
    }
}