@import "../../_assets/_variables.scss";

.footer {
  bottom: 3vh;
  color: $color-white;
  display: block;
  font-family: $font-mono;
  font-size: 12px;
  padding-top: 40px;
  text-align: center;
  width: 60vw;
}
