@import "../../_assets/_variables.scss";

.toggle-languages {
  position: fixed;
  height: 3vh;
  top: 0;
  width: 100vw;

  .container {
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    right: 1.2vw;
    top: 1.2vh;
  }

  &__btn {
    background-color: $color-black;
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    // font-family: $font-mono;
    font-size: 10pt;
    font-weight: bold;

    &--en {
      color: $color-1;
    }

    &--pt {
      color: $color-4;
    }

    &:hover {
      filter: saturate(1.5);
    }

    .normal {
      filter: saturate(1);
    }

    .gray {
      filter: saturate(0) contrast(70%) opacity(50%);

      &:hover {
        filter: saturate(1.5);
      }
    }
  }
}
