@import "./_assets/_variables.scss";

body {
  background-color: $color-white;
  color: $color-black;
  background-color: $color-black;
  color: $color-white;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: $color-black;
    color: $color-white;
  }
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* largura da barra de rolagem */
}

/* Estilizando o rastreamento (o fundo da barra de rolagem) */
::-webkit-scrollbar-track {
  background: $color-light-gray; /* cor de fundo */
}

/* Estilizando o polegar (a parte da barra de rolagem que você pode arrastar) */
::-webkit-scrollbar-thumb {
  background: $color-dark-gray; /* cor do polegar */
}

/* Mudar a aparência do polegar quando estiver sendo arrastado */
::-webkit-scrollbar-thumb:hover {
  background: $color-black; /* cor do polegar ao passar o mouse */
}
