@import "../../_assets/_variables.scss";

.ui-section-title {
  background-color: $color-5;
  border-radius: 1px;
  font-family: $font-mono;
  // letter-spacing: 2px;
  margin: 160px 0 80px;
  max-width: fit-content;
  padding: 12px 12px 10px 12px;

  &__text {
    color: $color-black;
    font-weight: normal;
    // font-style: italic;
    line-height: 1;
    margin: 0;
    text-align: left;
    // text-decoration: underline;
    text-shadow: 1px 1px 2px $color-light-gray;
    // text-transform: capitalize;
    text-transform: uppercase;
  }
}
