@import "../../_assets/_variables.scss";

.date-period {
  color: $color-light-gray;
  display: block;
  font-family: $font-mono;
  font-size: 14px;
  text-transform: uppercase;
  min-width: max-content;
}
